# HaProxy configuration
[global_tags]
  az = "{{ openstack.location.zone }}"
  ciap = "{{ ciap }}"
  bl = "{{ bl }}"
  env = "{{ env }}"
  fonction = "{{ fonction }}"
  region = "{{ openstack.location.region_name }}"
  stage = "{{ stage }}"

[agent]
  interval = "60s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "5s"
  flush_interval = "60s"
  flush_jitter = "0s"
  precision = "s"
  debug = false
  quiet = true
  logfile = "{{ v_log_path }}/telegraf/telegraf.log"
  hostname = "{{ openstack.name }}"
  omit_hostname = false

[[outputs.http]]
  url = "https://{{ metrology_ip }}:{{ v_metrology_influxdb_port }}"
  timeout = "5s"
  tls_cert = "{{ v_certificates_path }}/telegraf.crt"
  tls_key = "{{ v_certificates_path }}/telegraf.key"
  insecure_skip_verify = true
  data_format = "json"
  [outputs.http.headers]
    Content-Type = "application/json; charset=utf-8"

{% for item in granted_domains %}
[[inputs.net_response]]
  protocol = "tcp"
  address = "{{ item.backend_ip_or_fqdn }}:{{ item.backend_port }}"
  timeout = "2s"
  [inputs.net_response.tags]
      domain = "{{ item.domain }}"
      component = "client"

[[inputs.net_response]]
  protocol = "tcp"
{% if item.backend_protocol  == "http" %}
  address = "{{ item.http_listening_ip }}:{{ item.http_listening_port }}"
{% endif %}
{% if item.backend_protocol  == "https" %}
  address = "{{ item.https_listening_ip }}:{{ item.https_listening_port }}"
{% endif %}
  timeout = "2s"
  [inputs.net_response.tags]
      domain = "{{ item.domain }}"
      component = "nginx"

{% endfor %}
