apiVersion: 1

datasources:
 - name: cIAP
   type: influxdb
   access: proxy
   orgId: {{ item.id | default('1') }}
   url: https://{{ v_metrology_influxdb_host }}:8086
   password: {{ v_metrology_influxdb_password }}
   user: {{ v_metrology_influxdb_user }}
   database: {{ item.name | replace('.', '_') }}
   editable: false
   jsonData:
     tlsAuth: true
     tlsSkipVerify: true
   secureJsonData:
     tlsClientCert: |
       {{ grafana_crt.stdout | indent(7) }}
     tlsClientKey: |
       {{ grafana_key.stdout | indent(7) }}
