# Configuration #
app_mode = production

[paths]

[server]
protocol = https
http_port = 3000
enable_gzip = true
root_url = https://{{ v_metrology_grafana_host }}:{{ v_metrology_grafana_port }}/mingtree/
cert_file = "{{ v_certificates_path}}/grafana.crt"
cert_key = "{{ v_certificates_path}}/grafana.key"

[database]
log_queries =

[session]

[dataproxy]

[analytics]
reporting_enabled = false
check_for_updates = false

[security]
disable_gravatar = true

[snapshots]
external_enabled = false
snapshot_remove_expired = true

[dashboards]

[users]
allow_sign_up = false
allow_org_create = false
default_theme = dark
auto_assign_org = false

[auth]

[auth.anonymous]
enabled = false

[auth.github]
enabled = false

[auth.google]
enabled = false

[auth.generic_oauth]
enabled = false

[auth.grafana_com]
enabled = false

[auth.proxy]
enabled = false

[auth.basic]
enabled = true

[auth.ldap]
enabled = false

[smtp]

[emails]

[log]
mode = file
level = info

[log.console]

[log.file]

[log.syslog]

[alerting]

[metrics]
enabled           = false

[metrics.graphite]

[tracing.jaeger]

[grafana_com]

[external_image_storage]

[external_image_storage.s3]

[external_image_storage.webdav]

[external_image_storage.gcs]

[external_image_storage.azure_blob]

[external_image_storage.local]
