output {
  if [database] == "{{ item[0].domain | replace('.', '_') }}" {
    if [metrics][name] == "haproxy" {
      influxdb {
         host => "{{ v_metrology_influxdb_host }}"
         user => "{{ v_metrology_influxdb_user }}"
         password => "{{ v_metrology_influxdb_password }}"
         port => 8086
         data_points => {
             "active_servers" => "%{[metrics][fields][active_servers]}"
             "backup_servers" => "%{[metrics][fields][backup_servers]}"
             "bin" => "%{[metrics][fields][bin]}"
             "bout" => "%{[metrics][fields][bout]}"
             "check_duration" => "%{[metrics][fields][check_duration]}"
             "check_status" => "%{[metrics][fields][check_status]}"
             "chkdown" => "%{[metrics][fields][chkdown]}"
             "chkfail" => "%{[metrics][fields][chkfail]}"
             "cli_abort" => "%{[metrics][fields][cli_abort]}"
             "comp_byp" => "%{[metrics][fields][comp_byp]}"
             "comp_in" => "%{[metrics][fields][comp_in]}"
             "comp_out" => "%{[metrics][fields][comp_out]}"
             "comp_rsp" => "%{[metrics][fields][comp_rsp]}"
             "ctime" => "%{[metrics][fields][ctime]}"
             "downtime" => "%{[metrics][fields][downtime]}"
             "dreq" => "%{[metrics][fields][dreq]}"
             "dresp" => "%{[metrics][fields][dresp]}"
             "econ" => "%{[metrics][fields][econ]}"
             "ereq" => "%{[metrics][fields][ereq]}"
             "eresp" => "%{[metrics][fields][eresp]}"
             "hanafail" => "%{[metrics][fields][hanafail]}"
             "http_response.1xx" => "%{[metrics][fields][http_response.1xx]}"
             "http_response.2xx" => "%{[metrics][fields][http_response.2xx]}"
             "http_response.3xx" => "%{[metrics][fields][http_response.3xx]}"
             "http_response.4xx" => "%{[metrics][fields][http_response.4xx]}"
             "http_response.5xx" => "%{[metrics][fields][http_response.5xx]}"
             "http_response.other" => "%{[metrics][fields][http_response.other]}"
             "iid" => "%{[metrics][fields][iid]}"
             "lastchg" => "%{[metrics][fields][lastchg]}"
             "lastsess" => "%{[metrics][fields][lastsess]}"
             "lbtot" => "%{[metrics][fields][lbtot]}"
             "pid" => "%{[metrics][fields][pid]}"
             "proxy" => "%{[metrics][tags][proxy]}"
             "domain" => "%{[metrics][tags][proxy]}"
             "qcur" => "%{[metrics][fields][qcur]}"
             "qmax" => "%{[metrics][fields][qmax]}"
             "qtime" => "%{[metrics][fields][qtime]}"
             "rate" => "%{[metrics][fields][rate]}"
             "rate_lim" => "%{[metrics][fields][rate_lim]}"
             "rate_max" => "%{[metrics][fields][rate_max]}"
             "req_rate" => "%{[metrics][fields][req_rate]}"
             "req_rate_max" => "%{[metrics][fields][req_rate_max]}"
             "req_tot" => "%{[metrics][fields][req_tot]}"
             "rtime" => "%{[metrics][fields][rtime]}"
             "scur" => "%{[metrics][fields][scur]}"
             "server" => "%{[metrics][tags][server]}"
             "sid" => "%{[metrics][fields][sid]}"
             "slim" => "%{[metrics][fields][slim]}"
             "smax" => "%{[metrics][fields][smax]}"
             "srv_abort" => "%{[metrics][fields][srv_abort]}"
             "status" => "%{[metrics][fields][status]}"
             "stot" => "%{[metrics][fields][stot]}"
             "sv" => "%{[metrics][tags][sv]}"
             "ttime" => "%{[metrics][fields][ttime]}"
             "type" => "%{[metrics][fields][type]}"
             "weight" => "%{[metrics][fields][weight]}"
             "wredis" => "%{[metrics][fields][wredis]}"
             "wretr" => "%{[metrics][fields][wretr]}"
             "az" => "%{[metrics][tags][az]}"
             "bl" => "%{[metrics][tags][bl]}"
             "ciap" => "%{[metrics][tags][ciap]}"
             "component" => "%{[metrics][tags][component]}"
             "env" => "%{[metrics][tags][env]}"
             "fonction" => "%{[metrics][tags][fonction]}"
             "hostname" => "%{[metrics][tags][host]}"
             "region" => "%{[metrics][tags][region]}"
             "stage" => "%{[metrics][tags][stage]}"
         }
         coerce_values => {
             "active_servers" => "integer"
             "backup_servers" => "integer"
             "bin" => "integer"
             "bout" => "integer"
             "check_duration" => "integer"
             "check_status" => "integer"
             "chkdown" => "integer"
             "chkfail" => "integer"
             "cli_abort" => "integer"
             "comp_byp" => "integer"
             "comp_in" => "integer"
             "comp_out" => "integer"
             "comp_rsp" => "integer"
             "ctime" => "integer"
             "downtime" => "integer"
             "dreq" => "integer"
             "dresp" => "integer"
             "econ" => "integer"
             "ereq" => "integer"
             "eresp" => "integer"
             "hanafail" => "integer"
             "http_response.1xx" => "integer"
             "http_response.2xx" => "integer"
             "http_response.3xx" => "integer"
             "http_response.4xx" => "integer"
             "http_response.5xx" => "integer"
             "http_response.other" => "integer"
             "iid" => "integer"
             "lastchg" => "integer"
             "lastsess" => "integer"
             "lbtot" => "integer"
             "pid" => "integer"
             "qcur" => "integer"
             "qmax" => "integer"
             "qtime" => "integer"
             "rate" => "integer"
             "rate_lim" => "integer"
             "rate_max" => "integer"
             "req_rate" => "integer"
             "req_rate_max" => "integer"
             "req_tot" => "integer"
             "rtime" => "integer"
             "scur" => "integer"
             "sid" => "integer"
             "slim" => "integer"
             "smax" => "integer"
             "srv_abort" => "integer"
             "stot" => "integer"
             "ttime" => "integer"
             "weight" => "integer"
             "wredis" => "integer"
             "wretr" => "integer"
         }
         measurement => "haproxy"
         use_event_fields_for_data_points => false
         allow_time_override => true
         time_precision => "ms"
         send_as_tags => [ "domain", "az", "bl", "component", "hostname", "ciap", "env", "fonction", "region", "stage", "server", "sv", "proxy", "type" ]
         db => "{{ item[0].domain | replace('.', '_') }}"
         ssl => true
      }
    }
  }
}
