output {
  if [database] == "{{ item[0].domain | replace('.', '_') }}" {
    if [fields][log_type] == "iptables_access" {
       influxdb {
          host => "{{ v_metrology_influxdb_host }}"
          user => "{{ v_metrology_influxdb_user }}"
          password => "{{ v_metrology_influxdb_password }}"
          port => {{ v_metrology_influxdb_port }}
          data_points => {
              "domaine" => "%{[domain]}"
              "port" => "%{[port]}"
              "sourceip" => "%{[sourceip]}"
              "destip" => "%{[destip]}"
              "protocol" => "%{[protocole]}"
              "sourceport" => "%{[sourceport]}"
              "destport" => "%{[destport]}"
              "az" => "%{[az]}"
              "ciap" => "%{[ciap]}"
              "bl" => "%{[bl]}"
              "env" => "%{[env]}"
              "fonction" => "%{[fonction]}"
              "region" => "%{[region]}"
              "stage" => "%{[stage]}"
              "hostname" => "%{[hostname]}"
              "genre" => "%{[genre]}"
          }
          coerce_values => {
              "port" => "integer"
              "sourceport" => "integer"
              "destport" => "integer"
          }
          measurement => "iptables_access"
          use_event_fields_for_data_points => false
          allow_time_override => true
          time_precision => "ms"
          send_as_tags => [ "destport", "server_name", "az", "ciap", "env", "fonction", "region", "stage", "genre" ]
          db => "{{ item[0].domain | replace('.', '_') }}"
          ssl => true
       }
    }
  }
}
