{
    "__inputs": [
        {
            "name": "cIAP",
            "label": "cIAP",
            "description": "",
            "type": "datasource",
            "pluginId": "influxdb",
            "pluginName": "InfluxDB"
        }
    ],
    "__requires": [
      {
        "type": "datasource",
        "id": "influxdb",
        "name": "InfluxDB",
        "version": "5.0.0"
      },
      {
        "type": "panel",
        "id": "natel-discrete-panel",
        "name": "Discrete",
        "version": "0.0.8-pre"
      }
    ],
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "editable": false,
  "gnetId": null,
  "graphTooltip": 0,
  "id": 11,
  "links": [],
  "panels": [
    {
      "backgroundColor": "#000000",
      "colorMaps": [
        {
          "color": "#000",
          "text": "N/A"
        },
        {
          "color": "#7EB26D",
          "text": "Connected"
        },
        {
          "color": "#000000",
          "text": "Disconnected"
        }
      ],
      "crosshairColor": "#8F070C",
      "datasource": "cIAP",
      "display": "timeline",
      "expandFromQueryS": 0,
      "extendLastValue": true,
      "gridPos": {
        "h": 4,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "highlightOnMouseover": true,
      "id": 2,
      "legendPercentDecimals": 0,
      "legendSortBy": "-ms",
      "lineColor": "rgba(0,0,0,0.1)",
      "links": [],
      "metricNameColor": "#000000",
      "rangeMaps": [
        {
          "from": "null",
          "text": "N/A",
          "to": "null"
        }
      ],
      "rowHeight": 200,
      "showDistinctCount": false,
      "showLegend": true,
      "showLegendNames": true,
      "showLegendPercent": false,
      "showLegendTime": true,
      "showLegendValues": true,
      "showTimeAxis": true,
      "targets": [
        {
          "alias": "[[tag_name]]",
          "groupBy": [
            {
              "params": [
                "name"
              ],
              "type": "tag"
            }
          ],
          "measurement": "vpn_access",
          "orderByTime": "ASC",
          "policy": "default",
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "connect"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": []
        }
      ],
      "textSize": 12,
      "textSizeTime": 12,
      "timeFrom": null,
      "timeShift": null,
      "timeTextColor": "#d8d9da",
      "title": "VPN access",
      "transparent": true,
      "type": "natel-discrete-panel",
      "units": "short",
      "valueMaps": [
        {
          "op": "=",
          "text": "N/A",
          "value": "null"
        },
        {
          "op": "=",
          "text": "Disconnected",
          "value": "0"
        },
        {
          "op": "=",
          "text": "Connected",
          "value": "1"
        }
      ],
      "valueTextColor": "#000000",
      "writeAllValues": false,
      "writeLastValue": false,
      "writeMetricNames": false
    }
  ],
  "schemaVersion": 16,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": []
  },
  "time": {
    "from": "now-24h",
    "to": "now"
  },
  "timepicker": {
    "refresh_intervals": [
      "5m",
      "15m",
      "30m",
      "1h",
      "2h",
      "1d"
    ],
    "time_options": [
      "5m",
      "15m",
      "1h",
      "6h",
      "12h",
      "24h",
      "2d",
      "7d",
      "30d"
    ]
  },
  "timezone": "",
  "title": "VPN access",
  "uid": null,
  "version": 2
}